name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Setup job
        uses: joinself/github-actions-public/setup-job@main
      - name: CI
        shell: bash
        env:
          GH_TOKEN: ${{ secrets.GH_PAT_DEMO_IOS_GHA }}
          WORKFLOW_ID: ${{ github.run_id }}${{github.run_attempt}}
        run: |
          . ${GITHUB_WORKSPACE}/.ci/env

          ${CI_SCRIPTS}/workflow-run joinself/demo-ios-gha CI
