name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Setup job
        uses: joinself/github-actions-public/setup-job@main
      - name: CI
        shell: bash
        env:
          GH_TOKEN: ${{ secrets.GH_PAT_DEMO_IOS_GHA }}
          WORKFLOW_ID: ${{ github.run_id }}${{github.run_attempt}}
        run: |
          . ${GITHUB_WORKSPACE}/.ci/env

          echo "Calling remote workflow: joinself/demo-ios-gha - CI (${WORKFLOW_ID})"
          gh workflow run CI -R joinself/demo-ios-gha -r main -f id=${WORKFLOW_ID} -f git-ref=${CI_REF_NAME}
          ${CI_SCRIPTS}/workflow-wait joinself/demo-ios-gha ${WORKFLOW_ID}
